# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Data & Models
data/*.csv
data/*.npy
models/*.pt
models/*.pkl

# IDE / Editor
.vscode/
.idea/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
